@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

.photo-container {
    width: 280px;
    position: relative;

    height: 400px;
}
/*modalità 1 (devo per forza avere una height in .photo-container*/
/* .photo-container {
    background-image: url("../img/1.webp");
    background-size: cover;
    background-position: center;
}

.photo-container:hover {
    background-image: url("../img/1b.webp");
} */
/*fine modalità 1*/

/*modalità 2*/
.modello-img {
    width: 280px;
    height: 400px;
}

.modello-img-none {
    width: 280px;
    height: 400px;
    display: none;
}

.photo-container:hover .modello-img{
    display: none;
}

.photo-container:hover .modello-img-none{
    display: block;
}
/*fine modalità 2*/

.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 5px;
}

.sconto-sostenibile-container {
    position: absolute;
    left: 0px;
    bottom: 10px;
}

.sconto {
    display: inline-block;
    background-color: #EB0037;
    color: white;
    padding: 3px;
    font-size: 0.7rem;
}

.sostenibile {
    display: inline-block;
    background-color: #00875A;
    color: white;
    padding: 3px;
    font-size: 0.7rem;
}

.description-brand {
    font-size: 0.7rem;
}

.description-description {
    font-weight: bolder;
}

.description-price {
    color: #FF1814;
    font-size: 0.9rem;
}

.discount {
    color: black;
    font-style:inherit;
    text-decoration: line-through;
}